body {
  background-color: #fff;
}

.nav_part_color {
  background-color: #262626;
}

a {
  font-family: "Bree Serif", serif;
}

#withoutnavbar {
  margin-top: 40px;
}

.w3ncert_main_name {
  font-family: "Jacques Francois Shadow", cursive;
  font-size: 28px;
  letter-spacing: 1px;
}

.SRF {
  text-align: center;
  text-decoration: none;
  font-size: 3.5vw;
  font-family: "Faster One", cursive;
  color: #333333;
}

.ul {
  text-decoration: none;
}

/*////////////////////////////////////////*/
/*w3ncert.com*/
.w3ncert_big_logo {
  text-align: center;
  font-size: 60px;
  font-size: 8vw;
  font-family: "Faster One", cursive;
  color: #303030;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*for all footer*/
.footer {
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: #262626;
  margin-top: 0px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  margin: 10px;
  color: red;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
}

.fa:hover {
  color: #fff;
  text-decoration: none;
  transform: scale(1.2);
  transition: 1s;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #55acee;
}
.fa-google {
  color: #fbbc05;
}
.fa-linkedin {
  color: #007bb5;
}
.fa-youtube {
  color: #bb0000;
}
.fa-instagram {
  color: #125688;
}

.this {
  text-align: center;
  color: #fff;
  padding-top: 60px;
  background-color: #262626;
  margin-top: -55px;
}

#logo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  align-items: center;
  border: 8px solid #262626;
}

#shivam {
  margin-bottom: -50px;
}

#thisisshivam31 {
  color: #fff;
  text-decoration: none;
}

#thisisshivam31:hover {
  color: blue;
  text-decoration: none;
  text-shadow: 25px 5px 25px;
}

.All_Right_Reserved {
  background-image: linear-gradient(to right, #00ffff, yellow);
  padding: 12px;
  margin-bottom: -10%;
  font-family: "Aguafina Script", cursive;
  font-family: "IBM Plex Sans", sans-serif;
}

/*////////////////////////////////////////*/
