body{
  background-image: linear-gradient(to bottom right, #0effff, yellow);
}


.bg{
  background-color: black;
  color: red;
}


.ert{
  font-size: 7vw;
}

.eru{
  font-size: 5vw;
  color: #00ff00;
}


.ul{
  text-decoration: none;
}


.main_images{
  min-height: 100px;
  max-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.c{
  border: 4px solid  #ff3300;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
  min-width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}

.d{
  border: 4px solid #009900;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
  min-width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}

.e{
  border: 4px solid #ff0080;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
  min-width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}

.f{
  border: 4px solid #0000ff;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
  min-width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}



/*for all footer*/
.footer {
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: black;
  margin-top: 0px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  margin: 10px;
  color: red;
  text-align: center;
  border: 2px solid red;
  border-radius: 50%;
}


.fa:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
    transition: 1s;
}
.fa-facebook {
    color: #3B5998;
}
.fa-twitter {
    color: #55ACEE;
}
.fa-google {
    color: #dd4b39;
}
.fa-linkedin {
    color: #007bb5;
}
.fa-youtube {
    color: #bb0000;
}
.fa-instagram {
    color: #125688;
}


.this{
  text-align: center;
  color: #fff;
  padding-top: 60px;
  background-color: black;
  margin-top: -55px;
}


#logo{
  max-width:100px;
  max-height: 100px;
  border: px solid black;
  border-radius: 50%;
  align-items: center;
  border: 8px solid black;
  border-top-color: red;

}

#shivam{
  margin-bottom: -50px;
}




.asdf{
  color: black;
}

.asdf:hover{
  color: #fff;
  text-decoration: none;
}





.c:hover{
  background-color: #ff3300;
  color: black;
  text-decoration: none;
}

.d:hover{
  background-color: #009900;
  color: black;
}

.e:hover{
  background-color: #ff0080;
  color: black;
}

.f:hover{
  background-color: #0000ff;
  color: black;
}





















