body{
  background-image: linear-gradient(to bottom right, #0effff, yellow);
}


.bg{
  background-color: black;
  color: red;
}


.ert{
  font-size: 7vw;
}

.eru{
  font-size: 5vw;
  color: #00ff00;
}


.ul{
  text-decoration: none;
}


.main_images{
  min-height: 100px;
  max-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}



/*////////////////////////////////////////*/
/*w3ncert.com*/
#C{
  text-align: center;
  font-size: 60px;
  font-size: 8vw;
  font-family: 'Anton', sans-serif;
  background: -webkit-linear-gradient(right, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*////////////////////////////////////////*/



/*A Community of Passionate Educators and Learners*/
#D{
  text-align: center;
  font-size: 3.5VW;
  background: -webkit-linear-gradient(right, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/*//////////////////////////////////////////////*/
#kc{
  background-color: black;
}


.ke{
    width: 50%;
    font-size: 2vw;
}


.ki{
    width: 50%;
}

.mm{
    background: -webkit-linear-gradient(right, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
    font-size: 4vw;
}

.mn{
    margin: 10px;
    color: #fff;
}


#mo{
    width: 100%;
    border-top-left-radius: 30%;
}
/*//////////////////////////////////////////////*/





/*You cannot open a book without learning something.*/


.sb{
    text-align: center;
    font-size:4vw;
    margin-top: 6vw;
    margin-bottom: 1vw;
    background: -webkit-linear-gradient(right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.sc{
  font-size: 4vw;
}





/*for all footer*/
.footer {
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: black;
  margin-top: 0px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  margin: 10px;
  color: red;
  text-align: center;
  border: 2px solid red;
  border-radius: 50%;
}


.fa:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
    transition: 1s;
}
.fa-facebook {
    color: #3B5998;
}
.fa-twitter {
    color: #55ACEE;
}
.fa-google {
    color: #dd4b39;
}
.fa-linkedin {
    color: #007bb5;
}
.fa-youtube {
    color: #bb0000;
}
.fa-instagram {
    color: #125688;
}


.this{
  text-align: center;
  color: #fff;
  padding-top: 60px;
  background-color: black;
  margin-top: -55px;
}


#logo{
  max-width:100px;
  max-height: 100px;
  border: px solid black;
  border-radius: 50%;
  align-items: center;
  border: 8px solid black;
  border-top-color: red;

}

#shivam{
  margin-bottom: -50px;
}

