body{
  background-color: #fff;
}


.nav_part_color{
  background-color: #262626;
}


a{
  font-family: 'Bree Serif', serif;
}


#withoutnavbar{
  margin-top: 40px;
}


.w3ncert_main_name{
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 28px;
  letter-spacing: 1px;
}


.SRF{
  text-align: center;
  text-decoration: none;
  font-size: 3.5VW;
  font-family: 'Faster One', cursive;
  color: #333333;
   
}




.c{
  border: 4px solid  #ff3300;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
  min-width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}

.d{
  border: 4px solid #009900;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
  min-width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}

.e{
  border: 4px solid #ff0080;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
  min-width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}

.f{
  border: 4px solid #0000ff;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
  min-width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}



.asdf{
  
  -webkit-text-stroke: .5px #fff;
   color: #333333;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.asdf:hover{
  text-decoration: none;
}





.c:hover{
  background-color: #ff3300;
  color: black;
  text-decoration: none;
}

.d:hover{
  background-color: #009900;
  color: black;
}

.e:hover{
  background-color: #ff0080;
  color: black;
}

.f:hover{
  background-color: #0000ff;
  color: black;
}


/*////////////////////////////////////////*/
/*for all footer content*/
.footer{
  /*background: linear-gradient(to bottom right, #333333, black);*/
  background-color: #262626;
  text-align: center;
  color: #fff;
  padding: 40px;
  position: bottom;
  font-family: 'Bree Serif', serif;
  margin-bottom: -35px;
}

.contact_us_heading{
  margin-bottom: 20px;
  font-family: 'Anton', sans-serif;
  text-decoration-line: underline;
}


.fa{
    font-size: 40px;
    padding: 12px;
    width: 110px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}
.logo_name{
    align-items: right;
    color: yellow;
}
.need_any_help?{
    font-size: 20px;
}
.fa:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.2);
    transition: 1s;
}
.fa-facebook {
    background: #3B5998;
    color: white;

}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}


#thisisshivam31{
  color: #fff;
  text-decoration: none;
}



#thisisshivam31:hover{
  color: blue;
  text-decoration: none;
  text-shadow: 25px 5px 25px;

}


.All_Right_Reserved{
  background-image: linear-gradient(to right, #00ffff, yellow);
    padding: 12px;
    margin-bottom: -10%;
    font-family: 'Aguafina Script', cursive;
    font-family: 'IBM Plex Sans', sans-serif;    
}

/*////////////////////////////////////////*/

